{%extends 'base.html'%}

{% block bloco_row1 %}


{%for pokemon in database%}
    <div class="card mt-3"  style="width: 15rem;margin-right: 30px;" >

        {%if pokemon[3]%}
        <img src="{{pokemon[3]}}" class="card-img-top" alt="1" height="150">
        {%endif%}
        <div class="card-body">
            <h5 class="card-title">{{pokemon[1]}}</h5>
        </div>
        <ul class="list-group list-group-flush">
        <li class="list-group-item">{{pokemon[0]}}</li>
        <li class="list-group-item">{{pokemon[2]}}</li>
        </ul>
    </div>
    {%endfor%}

{%endblock %}